[submodule "extern/SDL2"]
	path = extern/SDL2
	url = https://github.com/libsdl-org/SDL
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
